.contact-content-section__wrap {
  width: 100%;

}

.contact-content__section-1 {
  display: inline-block;
  width: 14%;
}

.contact-content__section-2 {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-left: 5px dotted black;
  height: 100%;
  margin-left: 8px;
}

.contact-content__section-3 {
  position: fixed;
  display: inline-block;
  width: 35%;
  background: black;
  height: 19%;
}

.contact-content-input__wrap {
  display: inline-block;
  width: 35%;
}

.contact-content__input-textarea {
  max-width: 100%;
  max-height: 200px;
}

.contact-content__input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid black;
  font-size: 20px;
}

.contact-content-input__title {
  font-size: 20px;
}

.contact-content__input:focus {
  border-bottom: 4px solid black;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, .1);
  outline: 0;
}

.contact-content__input:focus+.contact-content-input__title {
  font-weight: bold;
}
